@{
    ViewData["Title"] = "Menu principal";
}

<div class="text-center">
    <h2 class="display-4">Bem-vindo!</h2>
    <p>Para consultar um CEP clique na opção acima de "Pesquisar CEP" ou <a asp-controller="Cep" asp-action="Index">clique aqui</a>.</p>
</div>